body {
  background-color: #1C091F;
  /*----------------------------------------- 2) Preloader --------------------------------------------------*/
  /*----------------------------------------- 3) Helper --------------------------------------------------*/
  /*---- span -----*/
  /*----- background ------*/
  /*-------- content --------*/
  /*----------------------------------------- 4) Header --------------------------------------------------*/
  /*----------- panel ----------*/
  /* Menu Button */
  /* Close Button */
  /* Menu */
  /* Shown menu */
  /*----------------------------------------- 5) Typography --------------------------------------------------*/
  /*----------------------------------------- 6) Hero --------------------------------------------------*/
  /*mouse*/
  /*----- typed effect ---*/
  /*----------------------------------------- 7) Sections --------------------------------------------------*/
  /*---------- a. portfolio -----------*/
  /*---------- b. service -----------*/
  /*---------- c. experience -----------*/
  /*---------- d. testimonial -----------*/
  /*-------------- e. blog -------------*/
  /*---------- f. quote -----------*/
  /*---------- g. contact -----------*/
  /*-------------- h. footer ------------------*/
  /*----------------------------------------- 8) Component --------------------------------------------------*/
  /*---------------- a. Skills ----------------*/
  /* Styling Next and Prev buttons */
  /* Clickable class fix problem with hover on touch devices */
  /* Use it for non-touch hover action */
  /* Styling Pagination*/
  /* If PaginationNumbers is true */
  /* preloading images */
  /* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
  /* clearfix */
  /* display none until init */
  /* mouse grab icon */
  /* fix */
  /* Magnific Popup CSS */
  /* Main image in popup */
  /* The shadow behind the image */ }

@font-face {
  body {
    font-family: 'Glyphter';
    src: url("../fonts/Glyphter.eot");
    src: url("../fonts/Glyphter?#iefix") format("embedded-opentype"), url("../fonts/Glyphter.woff") format("woff"), url("../fonts/Glyphter.ttf") format("truetype"), url("../fonts/Glyphter.svg#Glyphter") format("svg");
    font-weight: normal;
    font-style: normal; } }
  body *,
  body *:after,
  body *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  body body,
  body html {
    left: 0;
    top: 0;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%; }
  body body {
    color: #2f2f2f;
    font-size: 16px;
    line-height: 1.7;
    background-color: #fff; }
  body a {
    color: #2f2f2f;
    text-decoration: none;
    transition: ease .6s;
    -webkit-transition: ease .6s;
    -moz-transition: ease .6s;
    -o-transition: ease .6s;
    -ms-transition: ease .6s; }
  body a:hover {
    text-decoration: none;
    color: #818181; }
  body a:focus {
    outline: none;
    color: #999999;
    text-decoration: none; }
  body iframe {
    border: none;
    width: 100%; }
  body img {
    max-width: 100%; }
  body *:focus {
    outline: none; }
  body #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999; }
  body #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: -40px 0 0 -100px; }
  body #status img {
    text-align: center;
    margin-top: -80px; }
  body .no-pad {
    padding: 0 !important;
    margin: 0 !important; }
  body .pad-80 {
    padding-top: 80px; }
  body .mar-t-50 {
    margin-top: 50px !important; }
  body .mar-tm-10 {
    margin-top: -10px; }
  body .white-col {
    background: #ffffff;
    padding: none; }
  body .title-small span {
    position: relative; }
  body .title-small span:after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background: #DEDEDE;
    width: 28px;
    left: 0; }
  body .title-small-center span {
    position: relative; }
  body .title-small-center span:after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 3px;
    background: #DEDEDE;
    width: 28px;
    left: 0; }
  body .grey-bg {
    background: #f6f6f6;
    padding: 120px 0;
    display: block; }
  body .white-bg {
    background: #ffffff;
    padding: 120px 0;
    display: block; }
  body .content-detail {
    font-weight: 400;
    margin-top: 70px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 0.4px; }
  body .content-details {
    font-weight: 400;
    margin-top: 40px;
    line-height: 30px;
    font-size: 14px; }
  body .pad-bottom {
    padding-bottom: 80px; }
  body .text-detail {
    margin-top: 30px;
    color: #5f5f5f; }
  body .listing-item {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0; }
  body .header {
    width: 100%;
    z-index: 9999; }
  body .for-sticky {
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 50px;
    opacity: 0.8;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid #f1f1f1;
    display: block;
    padding: 0px 15px 5px 15px;
    background: #ffffff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  body .logo-nav {
    padding: 6px 0 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 45px;
    display: block; }
  body .opacity-nav {
    opacity: 0.8;
    z-index: 2; }
  body .content-wrap {
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%; }
  body .content {
    position: absolute;
    width: 100%;
    height: 100%; }
  body .content::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  body .menu-button {
    width: 34px;
    height: 45px;
    position: fixed;
    right: 0;
    margin-top: 13px;
    margin-right: 35px;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: none; }
  body .menu-button span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #2f2f2f;
    border-radius: 9px;
    opacity: 1;
    left: 0; }
  body .menu-button span:nth-child(1) {
    top: 0px; }
  body .menu-button span:nth-child(2) {
    top: 9px; }
  body .menu-button span:nth-child(3) {
    top: 18px; }
  body .menu-button:hover {
    opacity: 0.6; }
  body .close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent; }
  body .close-button::before,
  body .close-button::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #bdc3c7; }
  body .close-button::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  body .close-button::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  body .menu-wrap {
    position: fixed;
    z-index: 1001;
    width: 300px;
    height: 100%;
    right: 0;
    float: right;
    background: #2f2f2f;
    padding: 2.5em 1.5em 0;
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  body .menu,
  body .menu-list {
    height: 100%;
    overflow-x: auto; }
  body .menu-list {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  body .menu-list a {
    display: block;
    padding: 1.5em 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
    color: #a5a5a5;
    position: relative; }
  body .menu-list a:hover, body .menu-list a:active span {
    color: #ffffff; }
  body .menu-list,
  body .menu-list a {
    -webkit-transition: -webkit-transform 0s 0.4s;
    transition: transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  body .menu a:nth-child(2) {
    -webkit-transform: translate3d(0, 1000px, 0);
    transform: translate3d(0, 1000px, 0); }
  body .menu-list a:nth-child(3) {
    -webkit-transform: translate3d(0, 1500px, 0);
    transform: translate3d(0, 1500px, 0); }
  body .menu-list a:nth-child(4) {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0); }
  body .menu-list a:nth-child(5) {
    -webkit-transform: translate3d(0, 2500px, 0);
    transform: translate3d(0, 2500px, 0); }
  body .menu-list a:nth-child(6) {
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0); }
  body .menu-list a span:nth-last-child(1) {
    margin-bottom: 100px; }
  body .menu-list a span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    z-index: 2;
    position: absolute;
    margin-bottom: 20px;
    padding: 10px; }
  body .menu-list a span:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffffff;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: -1; }
  body .menu-list a.active span {
    color: #ffffff !important; }
  body .menu-list a.active span:before {
    width: 100%; }
  body .show-menu .menu-wrap {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  body .show-menu .menu-list,
  body .show-menu .menu-list a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  body .show-menu .menu-list a {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s; }
  body .show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5 {
    letter-spacing: 0.8px;
    font-family: 'Roboto Slab', serif; }
  body p {
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 34px;
    font-weight: 300; }
  body #home h1 {
    line-height: 40px;
    letter-spacing: 0.6px; }
  body #home .typed {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    opacity: 0.6; }
  body .year {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif; }
  body .job {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #cccccc; }
  body .company {
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #ececec;
    color: #cccccc;
    padding: 8px 10px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 5px;
    font-weight: 400; }
  body #home {
    background: url("../images/hero1.jpeg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block; }
  body .wrap-hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  body .hero-content {
    position: absolute;
    text-align: center;
    min-width: 300px;
    left: 50%;
    top: 50%;
    padding: 65px;
    background: rgba(255, 255, 255, 0.8);
    outline: 4px double #FFFFFF;
    outline-offset: 8px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  body .mouse-icon {
    position: absolute;
    border: 2px solid #2f2f2f;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 13px;
    height: 40px;
    width: 30px;
    margin: 0 auto;
    display: block;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 100; }
  body .mouse-icon .scroll {
    -webkit-animation-name: scrolling;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: scrolling;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running; }
  body .mouse-icon .scroll {
    position: relative;
    border-radius: 10px;
    background: #2f2f2f;
    width: 4px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto; }

@-webkit-keyframes scrolling {
  0% {
    top: 2px;
    opacity: 0; }
  30% {
    top: 8px;
    opacity: 1; }
  100% {
    top: 16px;
    opacity: 0; } }

@keyframes scrolling {
  0% {
    top: 2px;
    opacity: 0; }
  30% {
    top: 8px;
    opacity: 1; }
  100% {
    top: 16px;
    opacity: 0; } }
  body .typed-cursor {
    opacity: 0; }
  body ul.portfolio-image {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0; }
  body ul.portfolio-image li {
    float: left;
    display: block;
    list-style: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-top: 46%; }
  body ul.portfolio-image li:hover {
    cursor: pointer; }
  body ul.portfolio-image li:hover img {
    -webkit-filter: grayscale(20%);
    transform: scale(1.15); }
  body ul.portfolio-image li:hover .image-bg {
    opacity: 1; }
  body ul.portfolio-image li:hover .description-wrap {
    background: rgba(186, 186, 186, 0.6); }
  body ul.portfolio-image li img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-filter: grayscale(100%);
    transition: filter, transform, 0.5s; }
  body ul.portfolio-image li .decription-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(242, 242, 242, 0.4);
    padding: 20px;
    transition: background, 0.5s; }
  body ul.portfolio-image li .image-bg {
    color: #2f2f2f;
    background: #ffffff;
    background: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: inline-block;
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px 0;
    position: relative;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    transition: opacity, 0.5s;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: transparent; }
  body ul.portfolio-image li .desc {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 0;
    display: table-cell;
    right: 0;
    text-align: center;
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700; }
  body .icon-use {
    font-family: 'Glyphter';
    font-size: 30px;
    line-height: 20px;
    color: #818181;
    margin: 0; }
  body .head-sm {
    font-size: 13px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; }
  body .text-grey {
    color: #434343;
    line-height: 26px;
    margin-bottom: 60px; }
  body .wrap-card {
    position: relative;
    box-shadow: 0px 0px 0px #818181;
    transition: all 0.2s ease 0s;
    -webkit-transform: translateY(0px) translateX(0px); }
  body .wrap-card:before,
  body .wrap-card:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background: #818181;
    -webkit-transform: scaleX(0);
    transition: all 0.2s ease; }
  body .wrap-card:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 0; }
  body .wrap-card:after {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100% 0; }
  body .wrap-card:hover {
    box-shadow: 20px 20px 0px #818181;
    -webkit-transform: translateY(-10px) translateX(-10px);
    transition: all 0.2s ease 0.4s; }
  body .wrap-card:hover:after,
  body .wrap-card:hover:before {
    -webkit-transform: scaleX(1); }
  body .card {
    background: #ffffff;
    padding: 30px 35px 45px 35px;
    margin-bottom: 30px;
    border: 1px solid rgba(129, 129, 129, 0.1); }
  body .card:before,
  body .card:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 3px;
    height: 100%;
    background: #818181;
    -webkit-transform: scaleY(0);
    transition: all 0.2s ease 0.2s; }
  body .card:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 0 100%; }
  body .card:after {
    top: 0;
    right: 0;
    -webkit-transform-origin: 0 0; }
  body .card:hover:after,
  body .card:hover:before {
    -webkit-transform: scaleY(1); }
  body #testimonial {
    background-image: url(../images/testimonial-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 550px; }
  body .list-testimonial {
    display: block;
    width: 100%; }
  body .list-testimonial .content-testimonial {
    text-align: center;
    color: #ffffff; }
  body .list-testimonial .content-testimonial .testi {
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 2px; }
  body .list-testimonial .content-testimonial .people {
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 2px;
    color: #B7B7B7;
    font-weight: 700; }
  body .mask-testimonial {
    background-color: rgba(47, 47, 47, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  body .wrap-testimonial {
    z-index: 1;
    position: relative; }
  body .grid {
    margin-top: 60px; }
  body .grid:after {
    content: '';
    display: block;
    clear: both; }
  body .grid-item {
    width: 33.333%;
    float: left;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px; }
  body .grid-item .wrap-article {
    border: 1px solid rgba(129, 129, 129, 0.1);
    background: #ffffff;
    padding: 30px 20px; }
  body .grid-item .wrap-article img {
    text-align: center;
    display: block;
    margin: 0 auto; }
  body .grid-item .wrap-article .img-circle {
    width: 133px;
    height: 133px; }
  body .grid-item .wrap-article .fancy {
    line-height: 0.5;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    color: #818181; }
  body .grid-item .wrap-article .fancy span {
    display: inline-block;
    position: relative; }
  body .grid-item .wrap-article .fancy span:before,
  body .grid-item .wrap-article .fancy span:after {
    content: "";
    margin-top: 1px;
    position: absolute;
    height: 5px;
    border-top: 1px solid #dedede;
    top: 0;
    width: 60%; }
  body .grid-item .wrap-article .fancy span:before {
    right: 100%;
    margin-right: 5px; }
  body .grid-item .wrap-article .fancy span:after {
    left: 100%;
    margin-left: 5px; }
  body .grid-item .wrap-article .title {
    font-size: 16px;
    padding: 0 10px 0 10px;
    text-align: center;
    letter-spacing: 0.1;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700; }
  body .grid-item .wrap-article .title:after {
    content: "";
    display: block;
    margin: 0 auto;
    bottom: -20px;
    height: 1px;
    background: #dedede;
    width: 48px;
    left: 0;
    margin-top: 30px; }
  body .grid-item .wrap-article .content-blog {
    margin-top: 30px;
    padding: 0 10px 0 10px;
    text-align: justify;
    color: #5f5f5f; }
  body #about {
    min-height: 650px;
    display: inline-block;
    width: 100%; }
  body .bg-about {
    background: url("../images/reza.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 660px;
    width: 100%;
    height: 100%;
    float: left; }
  body .wrap-about {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    min-height: 480px; }
  body .wrap-about .w-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%); }
  body .wrap-about .w-content td {
    font-size: 13px;
    font-weight: 300; }
  body .wrap-about .w-content td.title {
    padding-right: 10px;
    font-weight: 500; }
  body .wrap-about .w-content td.break {
    padding-right: 15px; }
  body .wrap-about .w-content tr {
    height: 35px; }
  body .wrap-about .head-about {
    font-size: 13px;
    line-height: 34px;
    letter-spacing: 0.5px;
    font-weight: 300; }
  body .wrap-about .name {
    margin: 40px 0 20px 0;
    font-size: 14px; }
  body #contact {
    padding: 120px 0 200px 0; }
  body #contact form {
    margin-top: 25px; }
  body #contact .slider-masks {
    background-color: rgba(129, 129, 129, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  body #contact .group {
    position: relative;
    margin-bottom: 65px; }
  body #contact input,
  body #contact textarea {
    font-size: 13px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2b2b2b;
    background: transparent;
    color: #969696;
    font-size: 13px; }
  body #contact input:focus,
  body #contact textarea:focus {
    outline: none;
    border-bottom: none; }
  body #contact label {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  body #contact input:focus ~ label,
  body #contact input:valid ~ label,
  body #contact textarea:focus ~ label,
  body #contact textarea:valid ~ label {
    top: -25px;
    font-size: 12px;
    color: #818181; }
  body #contact .bar {
    position: relative;
    display: block;
    width: 100%; }
  body #contact .bar:before,
  body #contact .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #818181;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  body #contact .bar:before {
    left: 50%; }
  body #contact .bar:after {
    right: 50%; }
  body #contact input:focus ~ .bar:before,
  body #contact input:focus ~ .bar:after,
  body #contact textarea:focus ~ .bar:after,
  body #contact textarea:focus ~ .bar:before {
    width: 50%; }
  body #contact .highlight {
    position: absolute;
    height: 60%;
    width: 100%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  body #contact input:focus ~ .highlight,
  body #contact textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }
  body #contact input[type=submit] {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  body #contact input[type=submit]:hover {
    background: #2b2b2b;
    color: #ffffff; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #818181; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #818181; }
  to {
    width: 0;
    background: transparent; } }
  body .footer-top {
    width: 100%;
    text-align: center;
    color: #cccccc;
    display: table; }
  body .socials {
    width: 100%;
    margin: 0;
    padding: 0; }
  body .socials * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  body .socials li {
    display: inline-block;
    list-style: outside none none;
    float: left;
    overflow: hidden;
    width: 33.33333%;
    font-size: 13px; }
  body .socials a {
    padding: 0.3em 0.8em;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
    padding: 25px 0;
    width: 100%; }
  body .socials a:before,
  body .socials a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease; }
  body .socials a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: ""; }
  body .socials a:after {
    padding: 0.3em 0.8em;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
    width: 100%;
    padding: 25px 0; }
  body .socials li:hover a,
  body .socials .current a {
    transform: translateY(100%); }
  body .facebook {
    background: #969696;
    /*padding: 20px 0;*/ }
  body .facebook a:after {
    background-color: #527bbb; }
  body .twitter {
    background: #ABABAB; }
  body .twitter a:after {
    background-color: #77ccf1; }
  body .gplus {
    background: #d8d8d8; }
  body .gplus a:after {
    background: #dd4b39; }
  body .footer-bottom {
    width: 100%;
    background: #2f2f2f;
    padding: 80px 0;
    color: #636363; }
  body .skillst {
    margin-top: 30px; }
  body .skillst .skillbar {
    width: 100%;
    height: 10px;
    background-color: #f6f6f6;
    position: relative;
    margin-bottom: 60px;
    padding: 2px;
    box-sizing: border-box; }
  body .skillst .count-bar {
    width: 100%;
    height: 5px;
    width: 0px;
    position: relative; }
  body .skillst .count-bar {
    background-color: #818181; }
  body .skillst .count-bar span {
    font-size: 12px; }
  body .skillst .title {
    position: absolute;
    line-height: 25px;
    top: -35px;
    left: 0;
    padding-left: 10px;
    font-size: 12px !important; }
  body .skillst .count-bar .count {
    position: absolute;
    line-height: 18px;
    top: -28px;
    right: -20px;
    width: 40px;
    height: 18px;
    color: #fff;
    text-align: center;
    background-color: #2f2f2f; }
  body .skillst .count-bar .count span {
    position: relative;
    display: block; }
  body .skillst .count-bar .count span:after {
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 18px;
    content: "";
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; }
  body .skillst .count-bar .count {
    background-color: #818181; }
  body .skillst .count-bar .count span:after {
    border-top: 4px solid #818181; }
  body .owl-theme .owl-controls {
    text-align: center; }
  body .owl-wrapper-outer {
    padding: 10% 0 5% 0; }
  body .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #ffffff;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.5; }
  body .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none; }
  body .owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */ }
  body .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    /*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff; }
  body .owl-theme .owl-controls .owl-page.active span,
  body .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1; }
  body .owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; }
  body .owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center; }
  body .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  body .owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y; }
  body .owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px); }
  body .owl-carousel2 {
    padding-bottom: 20px; }
  body .owl-carousel2 .owl-controls .owl-page span {
    background: #2f2f2f !important; }
  body .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%; }
  body .owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out; }
  body .owl-carousel .owl-item {
    float: left; }
  body .owl-controls .owl-page,
  body .owl-controls .owl-buttons div {
    cursor: pointer; }
  body .owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; }
  body .grabbing {
    cursor: url(grabbing.png) 8 8, move; }
  body .owl-carousel .owl-wrapper,
  body .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  body .mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80); }
  body .mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; }
  body .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  body .mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  body .mfp-align-top .mfp-container:before {
    display: none; }
  body .mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045; }
  body .mfp-inline-holder .mfp-content,
  body .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto; }
  body .mfp-ajax-cur {
    cursor: progress; }
  body .mfp-zoom-out-cur, body .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out; }
  body .mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in; }
  body .mfp-auto-cursor .mfp-content {
    cursor: auto; }
  body .mfp-close,
  body .mfp-arrow,
  body .mfp-preloader,
  body .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none; }
  body .mfp-loading.mfp-figure {
    display: none; }
  body .mfp-hide {
    display: none !important; }
  body .mfp-preloader {
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044; }
  body .mfp-preloader a {
    color: #CCC; }
  body .mfp-preloader a:hover {
    color: #FFF; }
  body .mfp-s-ready .mfp-preloader {
    display: none; }
  body .mfp-s-error .mfp-content {
    display: none; }
  body button.mfp-close,
  body button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none; }
  body button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  body .mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace; }
  body .mfp-close:hover,
  body .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  body .mfp-close:active {
    top: 1px; }
  body .mfp-close-btn-in .mfp-close {
    color: #333; }
  body .mfp-image-holder .mfp-close,
  body .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%; }
  body .mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap; }
  body .mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent; }
  body .mfp-arrow:active {
    margin-top: -54px; }
  body .mfp-arrow:hover,
  body .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  body .mfp-arrow:before,
  body .mfp-arrow:after,
  body .mfp-arrow .mfp-b,
  body .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  body .mfp-arrow:after,
  body .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  body .mfp-arrow:before,
  body .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }
  body .mfp-arrow-left {
    left: 0; }
  body .mfp-arrow-left:after,
  body .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  body .mfp-arrow-left:before,
  body .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }
  body .mfp-arrow-right {
    right: 0; }
  body .mfp-arrow-right:after,
  body .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  body .mfp-arrow-right:before,
  body .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }
  body .mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px; }
  body .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  body .mfp-iframe-holder .mfp-close {
    top: -40px; }
  body .mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; }
  body .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }
  body img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }
  body .mfp-figure {
    line-height: 0; }
  body .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  body .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  body .mfp-figure figure {
    margin: 0; }
  body .mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto; }
  body .mfp-title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-wrap: break-word;
    padding-right: 36px; }
  body .mfp-image-holder .mfp-content {
    max-width: 100%; }
  body .mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer; }
  @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    body {
      /**
       * Remove all paddings around the image on small screen
       */ }
      body .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0; }
      body .mfp-img-mobile img.mfp-img {
        padding: 0; }
      body .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0; }
      body .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px; }
      body .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      body .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0; }
      body .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px; }
      body .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0; } }
  @media all and (max-width: 900px) {
    body .mfp-arrow {
      -webkit-transform: scale(0.75);
      transform: scale(0.75); }
    body .mfp-arrow-left {
      -webkit-transform-origin: 0;
      transform-origin: 0; }
    body .mfp-arrow-right {
      -webkit-transform-origin: 100%;
      transform-origin: 100%; }
    body .mfp-container {
      padding-left: 6px;
      padding-right: 6px; } }
  body .mfp-ie7 .mfp-img {
    padding: 0; }
  body .mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px; }
  body .mfp-ie7 .mfp-container {
    padding: 0; }
  body .mfp-ie7 .mfp-content {
    padding-top: 44px; }
  body .mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0; }
  @media screen and (max-width: 480px) {
    body {
      /*----- layout ----*/
      /*---- hero -----*/
      /*---- portfolio -----*/
      /*---- blog -----*/
      /*---- quote -----*/
      /*------- testimonial -------*/ }
      body .grey-bg, body .white-bg {
        padding: 40px 0; }
      body .hero-content {
        min-width: 280px;
        padding: 25px; }
      body .menu-wrap {
        width: 220px; }
      body .mouse-icon {
        bottom: 5px; }
      body ul.portfolio-image li {
        width: 100%;
        padding-top: 95%; }
      body .grid-item {
        width: 100% !important;
        padding: 0; }
      body .wrap-about {
        padding: 0 0 20px 0;
        min-height: 400px !important; }
      body .wrap-about .w-content {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        padding: 30px 0;
        transform: none; }
      body #testimonial {
        height: 700px; }
      body .skillst {
        margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    body {
      /*------ header -----*/
      /*------- home ------*/
      /*----- portfolio -----*/
      /*---- blog -----*/
      /*------- about -------*/
      /*------ footer -----*/ }
      body .for-sticky {
        padding: 0; }
      body .logo-nav {
        margin-left: 0; }
      body .menu-button {
        margin-right: 15px; }
      body .ma-infinitypush-wrapper.ma-infinitypush-active-button.ma-infinitypush-button-right .ma-infinitypush-button {
        left: -65px; }
      body .ma-infinitypush-wrapper {
        width: 200px; }
      body .ma-infinitypush-wrapper ul > li {
        width: 200px; }
      body #home p {
        width: 100%; }
      body .portfolio-image > li {
        width: 50%; }
      body .grid-item {
        width: 50%; }
      body .bg-about {
        min-height: 520px; }
      body .wrap-about {
        min-height: 520px;
        padding-bottom: 10%;
        padding-left: 30px;
        padding-right: 30px; }
      body .wrap-about .head-quote {
        padding-top: 10%; }
      body .content-right {
        margin-top: 20px; }
      body .text-grey {
        margin-bottom: 45px; }
      body .skillst {
        margin-top: 50px; }
      body footer p {
        text-align: center; }
      body footer ul.social {
        margin-left: -40px;
        text-align: center; }
      body footer ul.social li {
        padding: 0px 10px 0px 10px; } }
  @media screen and (min-width: 1024px) {
    body .content-right {
      margin-top: 20px;
      padding: 0 20px 0 60px; } }
